<section id="sidebar">
    <a href="#" class="logo"><i class='bx bxs-home-smile icon' ></i>MangHiram</a>
    <ul class="side-menu">
        <li><a href="/dashboard"><i class='bx bx-tachometer icon'></i>Dashboard</a></li>
        <li><a href="#"><i class='bx bx-calendar icon'></i>Rented by You<i class='bx bx-chevron-right icon-right' ></i></a>
            <ul class="side-dropdown">
                <li><a href="/dashboard/user/rentals/ongoing">Ongoing Rentals</a></li>
                <li><a href="/dashboard/user/rentals/finished">Finished Rentals</a></li>
                </ul>
            </li>
        <li><a href="#"><i class='bx bx-dollar icon'></i>Requests<i class='bx bx-chevron-right icon-right' ></i></a>
            <ul class="side-dropdown">
                <li><a href="/dashboard/seller/requests">Rental Requests</a></li>
                <li><a href="/dashboard/seller/requests/approved">Approved Rental Requests</a></li>
                <li><a href="/dashboard/seller/requests/denied">Denied Rental Requests</a></li>
                <!-- <li><a href="#">Credit Memos</a></li>
                <li><a href="#">Billing Agreements</a></li>
                <li><a href="#">Transactions</a></li> -->
            </ul>
        </li>        
        <li><a href="#"><i class='bx bx-calendar icon'></i>Rentals (for Lessors)<i class='bx bx-chevron-right icon-right' ></i></a>
            <ul class="side-dropdown">
                <li><a href="/dashboard/seller/rentals/ongoing">Ongoing Rentals</a></li>
                <li><a href="/dashboard/seller/rentals/finished">Finished Rentals</a></li>
                </ul>
            </li>
        <li><a href="#"><i class='bx bx-package icon'></i>Inventory</a></li>
        <li><a href="#"><i class='bx bxs-face icon'></i>Customer<i class='bx bx-chevron-right icon-right' ></i></a>
        <ul class="side-dropdown">
            <li><a href="#">All Customers</a></li>
            <li><a href="#">Now Online</a></li>
            </ul>
        </li>
        <li><a href="#"><i class='bx bxs-report icon'></i>Marketing</a></li>
        <li><a href="#"><i class='bx bxs-book-content icon' ></i>Content</a></li>
        <li><a href="#"><i class='bx bxs-bar-chart-alt-2 icon' ></i>Report</a></li>
    </ul>
    </div>
</section>